/**
 * @todo seperate css into different files
 * @todo alphabetical order
 */

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	margin: -16px 0;
	width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
	padding: 0;

	li {
		list-style-type: none;
	}
}

.container {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nav {
	background-color: #24303D;
	display: flex;
	position: relative;
	width: 100%;

  li {
    margin: 15px;
    a.active {
      color: #e47911;
      font-weight: bold;
    }
	}
}

.home-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.loading {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.spinner {
	animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
  	transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
}

@keyframes colors {
  0% {
		stroke: #e41062;
  }
  25% {
		stroke: #0d223c;
  }
  50% {
    stroke: #e7fd46;
  }
  75% {
    stroke: #5aB9cf;
  }
  100% {
    stroke: #fd9035;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}


/**
 * Product
 */
.product {
	background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
	padding: 16px 8px;

	img {
    height: 25%;
    width: 25%;
	}
}


